<div class="Search">
<h1>Enter a Movie title here to Search<h1>
		
	 		<form method="get" action="/search">

	 		<input type='text' name='title'autofocus>
	 		<input id="submit" type='submit'>

	 		</form>
</div>